@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800");

body {
    font-family: "Inter", sans-serif; 
    font-size: 1.1rem;
}

#wrapper { overflow: hidden; }

/* colors */

:root {
    --dark-purple: #00011A;
    --yellow: #E8AA4C;
    --orange: #F15D51;
    --light-grey: #CAC7CF;
    --black: #000000;
    --white: #FFFFFF;
}

a { text-decoration: none; }

/* Logo/title  */

header {
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    height: 5rem;
    padding-top: 1.25rem;
}

header h1.title {
    width: 4.063rem;
    padding-left: 0.5rem;
}

a.logo { 
    background: url('../images/logo.svg');
    display: block;
    width: 4.063rem;
    height: 2.5rem;
}

span.inner { display: none; } 

/* Top navigation */

nav { text-align: right; }

nav ul > li {
    display: inline-block;
    padding: 0rem 20px;
    list-style-type: none;
}

nav ul > li > a { 
    color: var(--dark-purple); 
    filter: opacity(0.75);
}

nav ul > li > a:hover { color: var(--orange); }

nav li:last-child { padding-right: 0rem;}

@media (max-width: 992px) { 

    img.open {
        padding-right: 1rem;
        cursor: pointer;
    }

    img.close {
        position: absolute;
        right: 2em;
        top: 3em;
        cursor: pointer;
    }

}

#offcanvas {
    width: 21rem;
}

ul.offcanvas {
    position: absolute !important;
    top: 10em;
    list-style: none !important;
    width: 18em;
}

ul.offcanvas > li {
    line-height: 3.7rem;
    font-size: 1.5rem;
}

ul.offcanvas > li > a {
    color: black;
}

/* Featured article */

article {  
    font-family: "Inter", sans-serif;
    color: var(--dark-purple); 
}

article p {
    font-size: 0.9em;
    filter: opacity(0.75);
    letter-spacing: .03rem;
    padding-right: 0.7rem;
}

img.article-img {
    width: 100%;
}

article h2 {
    font-weight: 800;
    font-size: 3.7rem;
    line-height: 3.5rem;
}

a.article-btn {
    background-color: var(--orange);
    color: var(--white);
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

a.article-btn:hover{  background-color: var(--dark-purple); }

/* New articles */

aside { 
    background-color: var(--dark-purple);
}
@media (max-width: 768px) { 
    aside { 
        width: 85% !important;
        margin: 2em;
        margin-top: 2em !important;
    }
}

aside > article, aside > h2 { padding: 1rem; }

aside > h2 { 
    color: var(--yellow);
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
}

aside  h4 {
    font-weight: 700;
}

aside, aside a, aside p { color: var(--white); }

aside p {
    filter: opacity(0.75);
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--light-grey);
    padding-right: 0.7rem;
}

aside > article { padding-top: 0em; }

aside > article:last-child p {
    border-bottom: unset;
}

aside > article:last-child { padding-bottom: 0rem; }

aside a:hover { color: var(--yellow); }

/* footer */

footer img.article-img {
    width: 90%;
}

footer h3 { 
    color: var(--light-grey);
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 3rem;
}

footer h4 { 
    font-weight: 900;
    font-size: 1.1em;
    line-height: 2.7rem;
}

footer p { padding-right: 0.7rem; }

footer h4 a { color: var(--dark-purple); }

footer h4 a:hover { color: var(--orange); }

@media (max-width: 768px) { 
    footer > article {
        margin: 2rem;
    }
}

/* attribution */

div.attribution {
    font-size: smaller;
    text-align: center;
    line-height: 2rem;
}